
/* Fonts 
---------------------------------------- */

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Light.ttf);
font-display: swap;
font-weight: 100; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
font-display: swap;
font-weight: 400; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
font-display: swap;
font-weight: 600; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
font-display: swap;
font-weight: 700; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
font-display: swap;
font-weight: 900; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf);
font-display: swap;
font-weight: 100;
font-style: italic; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
font-display: swap;
font-weight: 400;
font-style: italic; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-SemiboldItalic.ttf);
font-display: swap;
font-weight: 600;
font-style: italic; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf);
font-display: swap;
font-weight: 700;
font-style: italic; }

@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
font-display: swap;
font-weight: 900;
font-style: italic; }



/* Reset 
---------------------------------------- */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}



/* Grid
---------------------------------------- */

.container {
	position: relative;
	width: 100%;
	max-width: 1160px; /*960px*/
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box; 
}
.grid-lg-1,.grid-lg-2,.grid-lg-3,.grid-lg-4,.grid-lg-5,.grid-lg-6,.grid-lg-7,.grid-lg-8,.grid-lg-9,.grid-lg-10,.grid-lg-11,.grid-lg-12, 
.grid-md-1,.grid-md-2,.grid-md-3,.grid-md-4,.grid-md-5,.grid-md-6,.grid-md-7,.grid-md-8,.grid-md-9,.grid-md-10,.grid-md-11,.grid-md-12, 
.grid-sm-1,.grid-sm-2,.grid-sm-3,.grid-sm-4,.grid-sm-5,.grid-sm-6,.grid-sm-7,.grid-sm-8,.grid-sm-9,.grid-sm-10,.grid-sm-11,.grid-sm-12, 
.grid-xs-1,.grid-xs-2,.grid-xs-3,.grid-xs-4,.grid-xs-5,.grid-xs-6,.grid-xs-7,.grid-xs-8,.grid-xs-9,.grid-xs-10,.grid-xs-11,.grid-xs-12 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding-left: 15px; 
	padding-right: 15px; 
}
.row {
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
	display: inline-block;
	width: calc(100% + 30px);
}

/* Devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}
/* Extra Small */
@media (min-width: 1px) {
  .grid-xs-1                  { width: 8.33333333%;   }
  .grid-xs-2                  { width: 16.66666667%;  }
  .grid-xs-3                  { width: 25%;           }
  .grid-xs-4                  { width: 33.33333333%;  }
  .grid-xs-5                  { width: 41.66666667%;  }
  .grid-xs-6                  { width: 50%;           }
  .grid-xs-7                  { width: 58.33333333%;  }
  .grid-xs-8                  { width: 66.66666667%;  }
  .grid-xs-9                  { width: 75%;           }
  .grid-xs-10                 { width: 83.33333333%;  }
  .grid-xs-11                 { width: 91.66666667%;  }
  .grid-xs-12                 { width: 100%;          }
}
/* Small */
@media (min-width: 750px) {
  .grid-sm-1                  { width: 8.33333333%;   }
  .grid-sm-2                  { width: 16.66666667%;  }
  .grid-sm-3                  { width: 25%;           }
  .grid-sm-4                  { width: 33.33333333%;  }
  .grid-sm-5                  { width: 41.66666667%;  }
  .grid-sm-6                  { width: 50%;           }
  .grid-sm-7                  { width: 58.33333333%;  }
  .grid-sm-8                  { width: 66.66666667%;  }
  .grid-sm-9                  { width: 75%;           }
  .grid-sm-10                 { width: 83.33333333%;  }
  .grid-sm-11                 { width: 91.66666667%;  }
  .grid-sm-12                 { width: 100%;          }
}
/* Medium */
@media (min-width: 980px) {
  .grid-md-1                  { width: 8.33333333%;   }
  .grid-md-2                  { width: 16.66666667%;  }
  .grid-md-3                  { width: 25%;           }
  .grid-md-4                  { width: 33.33333333%;  }
  .grid-md-5                  { width: 41.66666667%;  }
  .grid-md-6                  { width: 50%;           }
  .grid-md-7                  { width: 58.33333333%;  }
  .grid-md-8                  { width: 66.66666667%;  }
  .grid-md-9                  { width: 75%;           }
  .grid-md-10                 { width: 83.33333333%;  }
  .grid-md-11                 { width: 91.66666667%;  }
  .grid-md-12                 { width: 100%;          }
}
/* Large */
@media (min-width: 1200px) {
  .grid-lg-1                  { width: 8.33333333%;   }
  .grid-lg-2                  { width: 16.66666667%;  }
  .grid-lg-3                  { width: 25%;           }
  .grid-lg-4                  { width: 33.33333333%;  }
  .grid-lg-5                  { width: 41.66666667%;  }
  .grid-lg-6                  { width: 50%;           }
  .grid-lg-7                  { width: 58.33333333%;  }
  .grid-lg-8                  { width: 66.66666667%;  }
  .grid-lg-9                  { width: 75%;           }
  .grid-lg-10                 { width: 83.33333333%;  }
  .grid-lg-11                 { width: 91.66666667%;  }
  .grid-lg-12                 { width: 100%;          }
}



/* Base styling
---------------------------------------- */

html {
	font-size: 62.5%; 
}
body {
	font-family: OpenSans, sans-serif;
	font-size: 16px;
}



/* Typography 
---------------------------------------- */

b, strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Devices larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.8rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.8rem; }
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: 60px;
	padding: 0px 18px; 
	width: 100%;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	/*border-radius: 4px;*/
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 25px;
}

/* Removes awkward default styles on some inputs */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}

input[type="submit"],
button {
	outline: none; 
}

textarea {
	min-height: 200px;
	max-height: 500px;
	min-width: 100%;
	max-width: 100%;
	padding-top: 16px;
	padding-bottom: 16px; 
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*background: #ffffff url("../images/dropdown_arrow.png") no-repeat right 12px center;*/ /* Custom dropdown arrow */ 
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #ADADAD;
	outline: 0; 
}
label {
	font-size: 16px;
	color: #777777;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 8px; 
}
input[type="checkbox"],
input[type="radio"] {
	display: inline; 
}
  
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
textarea:disabled,
select:disabled {
	background-color: #F3F3F3 !important; 
}


