<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <h2 class="clickable-heading">Toggle This Dropdown</h2>

    <ul style="display:none">
        <li><a href="#">How To Do This</a>

        </li>
        <li><a href="#">Installing in The Mid 90s</a>

        </li>
    </ul>

    <h2 class="clickable-heading">Click This Dropdown 2</h2>

    <ul style="display:none">
        <li><a href="#">Vote For Pedro</a>

        </li>
        <li><a href="#">Your Name is Napoleon?</a>

        </li>
    </ul>

</body>

</html>
