<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <button class="kategori" id="katFam" type="button">Familie</button>
    <button class="kategori" id="katMad" type="button">Mad</button>
    <button class="kategori" id="katIns" type="button">Institution</button>
    <button class="kategori" id="katGro" type="button">Grøt område</button>
    
    <div class="popup divFam">PopupFamilie</div>
    <div class="popup divFam">PopupFamilie</div>
    <div class="popup divMad">PopupMad</div>
    <div class="popup divIns">PopupInstitution</div>
    <div class="popup divGro">PopupGrøn</div>
    <div class="popup divGro" >PopupGrønInstitutioner</div>

</body>

</html>
