/* Reset ---------------------------------------- */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  margin: auto;
	position: relative;
	top: 120px;
}

body {
	overflow-x: hidden;
	background-color: #808080;
}

.scrollelement {
  display: inline-block;
	position: relative;
	z-index: 10;
	user-select: none;
	background-repeat: no-repeat;
}

.squaretree {
  background-image: url("square-tree-dark.svg");
  width:100px;
  height: 200px;
	/* animation: travelling 8s linear 0s infinite normal none running; */
}

.circletree {
  background-image: url("circle-tree-dark.svg");
  width:100px;
  height: 200px;
	position: relative;
	top: 13px;
	/* animation: travelling 8s linear 0s infinite normal none running; */
}

.conetree {
  background-image: url("cone-tree-dark.svg");
  width:100px;
  height: 200px;
	position: relative;
	top: 19px;
	/* animation: travelling 8s linear 0s infinite normal none running; */
}

.ground {
  width: 100vw;
  height: 10px;
  /* background-image: url("dark-floor.svg"); */
	background-color: #d9d9d9;
	margin-top: 120px;
}

.backgroundwrapper {
	overflow-x: hidden;
}

.background {
	background-color: #313133;
	height: 330px;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: -50;
}

.bgparticles {
	background-image: url("bg-particles.svg");
	background-repeat: repeat-x;
	height: 330px;
	width: 5760px;
}

.bgscrollelement {
	/* animation: bgtravelling 20s linear 0s infinite normal none running; */
	position: fixed;
	top: 0;
	right: 0;
	z-index: -49;
}

@keyframes travelling {
	0% {transform: translateX(1920px);}
	100% {transform: translateX(-200px);}
}

@keyframes bgtravelling {
	0% {transform: translateX(1920px);}
	100% {transform: translateX(0px);}
}
