#popup p {
    display: none;
    /*height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
    */
}

#popup.show-fam .fam {
    display: block;
    /*height: 20px;
    */
}

#popup.show-mad .mad {
    display: block;
    /*height: 20px;
    */
}

#popup.show-ins .ins {
    display: block;
    /*height: 20px;
    */
}

#popup.show-gro .gro {
    display: block;
    /*height: 20px;
    */
}